{% extends 'base.html' %}


{% block title %} Administracao {% endblock %}

{% block main %}


<h3>ESTOQUE</h3>
<br>
<a href="{% url 'Produto_Novo' %}"><button type="button" class="btn btn-primary">Cadastrar novo produto</button></a>

<br><br>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome Produto</th>
      <th scope="col">Estoque Atual</th>
        <th scope="col">Estoque Minimo</th>
        <th scope="col">Ultima Alteração</th>

    </tr>
  </thead>
{% for produto in produto_estoque %}
  <tbody>
    <tr style="text-align: center">

      <td><a href="{% url 'editar_estoque' produto.id %}">{{ produto }}</a></td>

      <td><a href="{% url 'editar_estoque' produto.id %}">{{ produto.estoque_atual }}</a></td>
        <td><a href="{% url 'editar_estoque' produto.id %}">{{ produto.estoque_minimo }}</a></td>
        <td><a href="{% url 'editar_estoque' produto.id %}">{{ produto.data_atualizacao }}</a></td>

         {% empty %}
    <li>Desculpe, nao existem clientes cadastrados</li>
{% endfor %}
    </tr>

  </tbody>
</table>


{% endblock %}