{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% load static %}
{% block extra_head %}

{% endblock %}

{% block main %}

<div class="w3-container w3-content" style="max-width:100%;margin-top:10px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h3 class="w3-center">CONFIGURAÇÕES DO SISTEMA</h3>



        </div>
      </div>
      <br>

      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-credit-card fa-fw w3-margin-right"></i> Máquina de Cartão</button>
          <div id="Demo1" class="w3-hide w3-container">
          <ul class="w3-ul">
            <li><a href="{% url 'create_new_maq' %}" >
       <i class="fa fa-plus-square"></i> Nova maquinha</a></li>

            {% for maq in object_list %}

            <li><a href="{% url 'update_maquina' maq.id %}" >

       <i class="fa fa-credit-card"></i> {{ maq.nome }}</a></li>


          {% endfor %}

          </ul>
            <br>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Outras</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <div id="Demo3" class="w3-hide w3-container">

          </div>
        </div>
      </div>
      <br>

      <!-- Interests -->

      <br>

      <!-- Alert Box -->


    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      



      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <div class="row">

    <div class="col">
    <div class="main">
        <ul class="list-group">
          <li class="list-group-item active">Minhas Maquinas de cartão</li>
         {% for func in object_list %}

            <li class="list-group-item">{{ func }}</li>


              {% endfor %}
        </ul>

      <br>

    </div>
  </div>

  </div>
         </div>



    <!-- End Middle Column -->
    </div>

    <!-- Right Column -->







    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else {
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

{% endblock %}

{% block staticfiles %}


    <script src="{% static 'js/config.js' %}"></script>
{% endblock %}