<form name="FormMaqCartao">

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="name">Nome da operadora</label>
            <input  class="form-control" name="name" id="name" maxlength="4" size="4">
          </div>

        </div>


        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="debito">Débito</label>
            <input type="number" class="form-control" name="debito" id="debito" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre1">Crédito X1</label>
            <input type="number" class="form-control"name="cre1" id="cre1" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre2">Crédito X2</label>
            <input type="number" class="form-control" name="cre2" id="cre2" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre3">Crédito X3</label>
            <input type="number" class="form-control" name="cre3" id="cre3" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre4">Crédito X4</label>
            <input type="number" class="form-control" name="cre4" id="cre4" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre5">Crédito X5</label>
            <input type="number" class="form-control" name="cre5" id="cre5" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre6">Crédito X6</label>
            <input type="number" class="form-control" name="cre6" id="cre6" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre7">Crédito X7</label>
            <input type="number" class="form-control" name="cre7" id="cre7" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre8">Crédito X8</label>
            <input type="number" class="form-control" name="cre7" id="cre8" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre9">Crédito X9</label>
            <input type="number" class="form-control" name="cre9" id="cre9" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre10">Crédito X10</label>
            <input type="number" class="form-control" name="cre10" id="cre10" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre11">Crédito X11</label>
            <input type="number" class="form-control" name="cre11" id="cre11" step="0.01">
          </div>

            <div class="form-group col-md-2">
            <label for="cre12">Crédito X12</label>
            <input type="number" class="form-control" name="cre12" id="cre12" step="0.01">
          </div>
        </div>

       <button class="btn btn-info" onclick="PostMaqCartao()" type="button">Salvar</button>
      </form>