{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/pagamento.css' %}">
{% endblock %}

{% block main %}
{% load my_tags %}



<div class="container">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<div class="center-wrapper">
	<div class="content">


	<div class="bag">
		<p class="bag-head"><span style="text-transform: uppercase">Verifique os itens da venda!</span> </p>
	</div>


		<br>
    <h2>Listagem de itens</h2>

    <div  style="overflow-x:auto;">
    <table class="table" id="table_produto">
      <thead>
        <tr>

          <th scope="col">Descricao</th>
          <th scope="col">valor</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Desconto</th>
            <th scope="col">Total item</th>

        </tr>
      </thead>
      <tbody>
        {% for item in itens %}
            <tr>

                <td>{{ item.produto.descricao }}</td>
                <td>{{ item.produto.preco }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.desconto }}</td>
                <td>{{ item.total_item|floatformat:2 }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table></div>
	<div class="bag-total">
		<div class="subtotal">
			<p class="h5">Subtotal:</p>
			<p class="h5">R$ {{ subtotal|floatformat:2 }}</p>
		</div>
		<div class="subtotal">
			<p class="h6">Descontos em produtos:</p>
			<p class="h6">R$ {{ subtotal|floatformat:2 }}</p>
		</div>
		<div class="delivery">
			<p class="h6">Descontos aplicados na venda em geral:<br>
				</p>
			<p class="h6">R$ {{ total_desconto|floatformat:2 }}</p>
		</div>
		<div class="total">
			<h3>Total:</h3>
			<h3>R$ {{ total_venda|floatformat:2 }}</h3>
		</div>
		<div class="promo-checkbox">
			<input type="checkbox" name="promo-check" checked>
			<label for="promo-check">I have a promo code</label>
		</div>
		<div class="promo-code">
			<input type="text" name="promo-checkbox" placeholder="Enter your promo code here" checked>
			<button class="apply">Apply</button>
		</div>
		<button class="btn-go-checkout">
			<i class="fas fa-lock"></i>
			<span>Go to Checkout</span>
		</button>
	</div>
	<div class="help">
		<p>Need help? Call free 01234 567 890</p>
	</div>
</div>
</div>
<div class="bg"></div>
<div class="container py-5">
    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6">FORMAS DE PAGAMENTO</h1>
        </div>
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i>Cartão de credito/débito </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#paypal" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Dinheiro em Especie </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#net-banking" class="nav-link "> <i class="fas fa-mobile-alt mr-2"></i> Transferencia PIX </a> </li>
                        </ul>
                    </div> <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form role="form" onsubmit="event.preventDefault()">
                                <div class="form-group"> <label for="username">
                                        <h6>Card Owner</h6>
                                    </label> <input type="text" name="username" placeholder="Card Owner Name" required class="form-control "> </div>
                                <div class="form-group"> <label for="cardNumber">
                                        <h6>Card number</h6>
                                    </label>
                                    <div class="input-group"> <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
                                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                                    <h6>Expiration Date</h6>
                                                </span></label>
                                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                            </label> <input type="text" required class="form-control"> </div>
                                    </div>
                                </div>
                                <div class="card-footer"> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Payment </button>
                            </form>
                        </div>
                    </div> <!-- End -->
                    <!-- Paypal info -->
                    <div id="paypal" class="tab-pane fade pt-3">
                        <h6 class="pb-2">Select your paypal account type</h6>
                        <div class="form-group "> <label class="radio-inline"> <input type="radio" name="optradio" checked> Domestic </label> <label class="radio-inline"> <input type="radio" name="optradio" class="ml-5">International </label></div>
                        <p> <button type="button" class="btn btn-primary "><i class="fab fa-paypal mr-2"></i> Log into my Paypal</button> </p>
                        <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                    </div> <!-- End -->
                    <!-- bank transfer info -->
                    <div id="net-banking" class="tab-pane fade pt-3">
                        <div class="form-group "> <label for="Select Your Bank">
                                <h6>Select your Bank</h6>
                            </label> <select class="form-control" id="ccmonth">
                                <option value="" selected disabled>--Please select your Bank--</option>
                                <option>Bank 1</option>
                                <option>Bank 2</option>
                                <option>Bank 3</option>
                                <option>Bank 4</option>
                                <option>Bank 5</option>
                                <option>Bank 6</option>
                                <option>Bank 7</option>
                                <option>Bank 8</option>
                                <option>Bank 9</option>
                                <option>Bank 10</option>
                            </select> </div>
                        <div class="form-group">
                            <p> <button type="button" class="btn btn-primary "><i class="fas fa-mobile-alt mr-2"></i> Proceed Payment</button> </p>
                        </div>
                        <p class="text-muted">Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                    </div> <!-- End -->
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</div>

{% endblock %}

{% block extra %}

{% endblock %}





{% block staticfiles %}
    <script src="{% static 'js/jquery-ajax.js' %}"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/funcoes.js' %}"></script>
{% endblock %}